<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Valentine Process Servers Inc.</title>
    <meta name="description" content="Valentine Process Servers Inc. specializes in affordable legal process services and investigations.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,700">
    <link rel="stylesheet" href="bower_components/normalize/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="header clearfix">
      <div class="brand">
        <div>Valentine</div>
        <div>Process</div>
        <div>Servers</div>
      </div>
      <div class="nav">
        <ul>
          <li><a href="#about">about</a></li>
          <li><a href="#services">services</a></li>
          <li><a href="#coverage">coverage</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div>
    </div>
    <section class="jumbotron">
      <div class="lead">
        <h2>You Got Served Sucka</h2>
        <p>Valentine Process Servers Inc. specializes in affordable legal process services and investigations. We are conveniently located in Rockland County, NY and can accommodate your legal needs in any court or administrative agency in New York.</p>
        <a href="#about"><span class="btn">learn more</span></a>
      </div>
    </section>
    <section id="about">
      <div class="clearfix">
        <div class="icon"></div>
        <div class="content">
          <h3>About Us</h3>
          <p>When searching for a process server for your legal documents, we are here for you. Our speed and accuracy ensure that your papers will reach their destination in a timely manner.</p>
        </div>
      </div>
      <div class="clearfix">
        <div class="icon">
          <h4>Experienced</h4>
        </div>
        <div class="content">
          <p>Our staff includes individuals who are carefully selected based on their experience and knowledge in the areas of legal process. Paul and Billy Valentine, the co-owners of Valentine Process Servers Inc., are experienced New York and New Jersey litigators who have been servicing individuals and businesses in the community for the past several years.</p>
        </div>
      </div>
      <div class="clearfix">
        <div class="icon">
          <h4>State-of-the-art Technology</h4>
        </div>
        <div class="content">
          <p>We are supported by a state-of-the-art computer program that provides instant status information and accesses to client jobs via the Internet. Our in-house notaries are certified in New York State.</p>
        </div>
      </div>
    </section>
    <section id="services" class="clearfix">
      <div class="content">
        <h3>Services We Offer</h3>
        <p>Are you looking for other legal services in addition to service of process? Our experienced staff can support your legal needs through a variety of additional services.</p>
        <ul>
          <li>Legal Process Service</li>
          <li>Court filings</li>
          <li>Document Retrieval</li>
          <li>Records Searches</li>
          <li>E-Filing</li>
        </ul>
      </div>
      <div class="info"></div>
    </section>
    <section id="coverage">
      <div class="map"></div>
      <div class="content">
        <h3>Coverage Areas</h3>
        <ul>
          <li>Rockland County</li>
          <li>Westchester County</li>
          <li>Orange County</li>
          <li>Putnam County</li>
          <li>Dutchess County</li>
          <li>Sullivan County</li>
          <li>Ulster County</li>
          <li>Five Boroughs of New York City</li>
          <li>Long Island</li>
          <li>Connecticut & New Jersey</li>
        </ul>
      </div>
    </section>
    <section id="contact">
      <h3>914.250.1266</h3>
      <h2>info@valentineprocessservers.com</h2>
      <p><span>Valentine Process Servers Inc.</span></p>
      <p>78 Pearce Parkway</p>
      <p>Pearl River, NY 10965</p>
    </section>
    <footer>
      <div>developed by <a href="https://github.com/juniorSE7EN">Robby Fairclough</a></div>
    </footer>
  </body>
</html>
