<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Valentine Process Servers Inc.</title>
    <meta name="description" content="Valentine Process Servers Inc. specializes in affordable legal process services and investigations.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,700">
    <link rel="stylesheet" href="bower_components/normalize/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="header clear-fix">
      <div class="brand">
        <div>Valentine</div>
        <div>Process</div>
        <div>Servers</div>
      </div>
      <div class="nav">
        <ul>
          <li>about</li>
          <li>services</li>
          <li>coverage</li>
          <li>contact</li>
        </ul>
      </div>
    </div>
    <div class="jumbotron">
      <div class="lead">
        <h2>You Got Served Sucka</h2>
        <p>Valentine Process Servers Inc. specializes in affordable legal process services and investigations. We are conveniently located in Rockland County, NY and can accommodate your legal needs in any court or administrative agency in New York.</p>
        <span class="btn">learn more</span>
      </div>
    </div>
  </body>
</html>
