<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Valentine Process Servers</title>
    <meta name="description" content="Valentine Process Servers Inc. specializes in affordable legal process services and investigations.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/normalize/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <h1>Valentine Process Servers</h1>
  </body>
</html>
