<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Valentine Process Servers Inc.</title>
    <meta name="description" content="Valentine Process Servers Inc. specializes in affordable legal process services and investigations.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,700">
    <link rel="stylesheet" href="bower_components/normalize/normalize.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div id="header" class="clearfix">
      <div class="brand">
        <div>Valentine</div>
        <div>Process</div>
        <div>Servers</div>
      </div>
      <div class="nav">
        <ul>
          <li><a href="#about">about</a></li>
          <li><a href="#services">services</a></li>
          <li><a href="#coverage">coverage</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div>
    </div>
    <section id="jumbotron">
      <div class="lead">
        <h2>We Look Forward to Serving You</h2>
        <p>Valentine Process Servers Inc. specializes in affordable legal process services and investigations. We are conveniently located in Rockland County, NY and can accommodate your legal needs in any court or administrative agency in New York.</p>
        <p>At Valentine, we are focused on providing you with the personalized attention you need and deserve!</p>
        <a href="#about"><span class="btn">learn more</span></a>
      </div>
    </section>
    <section id="about">
      <div class="clearfix">
        <div class="icon"></div>
        <div class="content">
          <h3>About Us</h3>
          <p>At Valentine we are deeply committed to the people that make us what we are, both our employees and our clients. Our staff is lead by Paul and Billy Valentine who are experienced litigators and who have been serving individuals and entities in Rockland and Westchester county for the past decade.  Our staff is friendly, knowledgeable, professional and available to answer any questions you have at any time.</p>
          <p>At Valentine we want to serve you. You want results. You need Valentine.</p>
        </div>
      </div>
      <div class="clearfix">
        <div class="icon">
          <h4><span class="icon-checkmark"></span>Experienced</h4>
        </div>
        <div class="content">
          <p>Our staff includes individuals who are carefully selected based on their experience and knowledge in the areas of legal process. Paul and Billy Valentine, the co-owners of Valentine Process Servers Inc., are experienced New York and New Jersey litigators who have been servicing individuals and businesses in the community for the past several years.</p>
        </div>
      </div>
      <div class="clearfix">
        <div class="icon">
          <h4><span class="icon-screen"></span>State-of-the-art Technology</h4>
        </div>
        <div class="content">
          <p>We are supported by a state-of-the-art computer program that provides instant status information and accesses to client jobs via the Internet. Our in-house notaries are certified in New York State.</p>
        </div>
      </div>
    </section>
    <section id="services" class="clearfix">
      <div class="content">
        <h3>Services We Offer</h3>
        <p>Are you looking for other legal services in addition to service of process? Our experienced staff can support your legal needs through a variety of additional services.</p>
        <ul>
          <li class="active" data-service="legal-process-service">Legal Process Service</li>
          <li data-service="court-filings">Court Filings</li>
          <li data-service="document-retrieval">Document Retrieval</li>
          <li data-service="records-searches">Records Searches</li>
          <li data-service="e-filing">E-Filing</li>
        </ul>
      </div>
      <div class="info">
        <ul>
          <li class="service active" data-service="legal-process-service">
            <h4>Legal Process Service</h4>
            <p>Valentine provides fast, reliable, and effective service of process that is carried out by experienced process servers. Same Day and Rush Service Available.</p>
          </li>
          <li class="service" data-service="court-filings">
            <h4>Court Filings</h4>
            <p>We can also file your papers in any court or administrative agency in New York, including the filing counties; Rockland, Westchester, Orange Putnam, Dutchess, Bronx, New York and Kings.</p>
          </li>
          <li class="service" data-service="document-retrieval">
            <h4>Document Retrieval</h4>
            <p>Valentine can retrieve documents from any court in New York at your request. We will find it for you and get it to you as quickly as possible.</p>
          </li>
          <li class="service" data-service="records-searches">
            <h4>Records Searches</h4>
            <p>We can provide litigation searches for due diligence, background checks, and research. Additionally, we can perform personal/onsite record searches at all state and federal courts and administrative agencies.</p>
          </li>
          <li class="service" data-service="e-filing">
            <h4>E-Filing</h4>
          </li>
        </ul>
      </div>
    </section>
    <section id="coverage">
      <div class="map"></div>
      <div class="content">
        <h3>Coverage Areas</h3>
        <ul>
          <li data-name="rockland">Rockland County</li>
          <li data-name="westchester">Westchester County</li>
          <li data-name="orange">Orange County</li>
          <li data-name="putnam">Putnam County</li>
          <li data-name="dutchess">Dutchess County</li>
          <li data-name="sullivan">Sullivan County</li>
          <li data-name="ulster">Ulster County</li>
          <li data-name="nyc">Five Boroughs of New York City</li>
          <li data-name="longIsland">Long Island</li>
          <li>Connecticut & New Jersey</li>
        </ul>
      </div>
    </section>
    <section id="contact">
      <h3>914.260.1266</h3>
      <h2>info@valentineprocessservers.com</h2>
      <p><span>Valentine Process Servers Inc.</span></p>
      <p>78 Pearce Parkway</p>
      <p>Pearl River, NY 10965</p>
    </section>
    <footer id="footer">
      <div>developed by <a href="https://github.com/juniorSE7EN">Robby Fairclough</a></div>
    </footer>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="js/topojson.v1.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/viewport.js"></script>
    <script src="js/about.js"></script>
    <script src="js/services.js"></script>
    <script src="js/coverage.js"></script>
    <script>
      $( window ).on( 'load', function() {
        app.init();
      });
    </script>
  </body>
</html>
